# Node dependencies
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Hardhat / Foundry
artifacts/
cache/
typechain/
coverage/

# Environment
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
